<%
   issuesGroupedByTracker = issues.group_by { |issue| issue.tracker }
   issuesGroupedByTracker.keys.sort.each do |tracker|
     issuesOfTracker = issuesGroupedByTracker[tracker]
     time_left = issuesOfTracker.sum{ |issue| issue_time_left(issue) } || 0
%>
    <tr class="group">
        <td colspan="6"><%=l(:field_tracker) %>: <%=h tracker %></td>
        <td class="center"><%= format_duration(time_left) %></td>
    </tr>
    <%= render :partial => "issue", :collection => issuesOfTracker %>
    <tr>
        <td>&nbsp;</td>
    </tr>
<%
   end
%>