<%
   issuesGroupedByProject = issues.group_by { |issue| issue.project }
   issuesGroupedByProject.keys.sort.each do |project|
      issuesOfProject = issuesGroupedByProject[project]
      time_left = issuesOfProject.sum{ |issue| issue_time_left(issue) } || 0
%>
      <tr class="group">
        <td colspan="6"><%=l(:field_project) %>: <%= link_to_project(project) %></td>
        <td class="center"><%= time_left.round(2) %></td>
      </tr>
      <%= render :partial => "issue", :collection => issuesOfProject %>
      <tr>
        <td>&nbsp;</td>
      </tr>
<%
   end
%>
